/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  /* height: 150vh; */
  padding: 10px;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
}
